$ff-primary: 'Outfit', sans-serif;
$fs-primary: 62.5%;

$clr: (
	'clr-primary-blue': #8bacda,
	'clr-primary-cyan': #00fff7,
	'clr-primary-cyan-alpha': rgba(0, 255, 247, 0.453),
	'clr-neutral-main-bg': #0d192b,
	'clr-neutral-card-bg': #14253d,
	'clr-neutral-line': #2f415b,
	'clr-neutral-text': #ffffff,
);
